
body{
     background color: #4444444;
     color: #ddddd;
     font-family: Arial, Helvetica, Sans-seriff;
    margin: 10% 20%;


  }

  .exp-header{
    text-aling: center;
    text-transform: uppercase;
    border-top: 1px solid #ddddd;

      border-bottom: 1px solid #ddddd;
    background colcor: rbga(0,0,0,0.1)

  }
